# Python API
PORT=8000

# Backend NestJS
BACKEND_PORT=3001
PYTHON_API_URL=http://python-api:8000
FRONTEND_URL=http://frontend:3000

# Frontend Next.js
NEXT_PUBLIC_API_URL=http://localhost:3001
NODE_ENV=production

# Le site sera accessible sur le port 1418
# http://localhost:1418
