# Python API
PORT=8000
OLLAMA_URL=http://ollama:11434

# Backend NestJS
BACKEND_PORT=3001
PYTHON_API_URL=http://python-api:8000
FRONTEND_URL=http://frontend:3000

# Frontend Next.js
NEXT_PUBLIC_API_URL=http://localhost:3002
NODE_ENV=production

# Ports exposés :
# - Ollama     : 11434
# - Python API : 8001 (interne: 8000)
# - Backend    : 3002 (interne: 3001)
# - Frontend   : 1418 (interne: 3000)
